body {
    font-family: 'Arial', sans-serif;
    /* background: #f4f4f4; */
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

.import-container {
    background: #f1f1f1;
    border-radius: 4px;
    padding: 20px;
    margin: auto;
    width: 95%;
    /* max-width: 1000px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.steps-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    /* display: flex;
    gap:10px; */
    border: 2px solid #f1f1f1;
    box-shadow: 1px 6px 4px -3px rgba(0,0,0,.1);
}
/* .step div:last-child{
    width: 70%;
} */
.step-one{
    margin-left: 54px;
    margin-top: 20px;
}
.setp-two{
    margin-left: 54px;
    margin-top: 20px;
}
.step-3{
    margin-left: 54px;
    margin-top: 20px;
}

.step:last-child {
    margin-right: 0; 
}

.format-spec {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    width: 80%;
}
.form-group:last-child label{
    width: 20%;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.fields-container {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
    gap: 18px;
}

.available-fields,
.fields-to-display {
    border: 1px solid #ccc;
    padding: 10px;
    width: 13%;
    min-height: 150px;
    background: #f9f9f9;
    border-radius: 4px;
}

.available-fields p,
.fields-to-display p {
    font-weight: bold;
    text-align: center;
}

.field {
    padding: 5px;
    margin: 5px;
    background: #e7e7e7;
    border-radius: 4px;
    cursor: pointer;
}

.field:hover {
    background: #dcdcdc;
}

.buttons {
    text-align: right;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button#cancelButton {
    background-color: #d9534f;
}